@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;

.introStart {
  -webkit-text-fill-color: transparent;
}

.hero {
    font-family: 'Fira Sans';
    font-weight: 600;
}

.header {
    font-family: 'Fira Sans';
}

.iconDiv::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  border-radius: 50%;
  scale: 0;
  transition: scale 200ms ease-in-out;
}

.iconDiv:hover::before {
  scale: 1;
}